{% extends "layout-with-navbar.html.twig" %}

{% block content %}
<div class="text-center">
    <h1>Gioca</h1>
</div>
<div class="table-responsive">
    <table class="table table-striped">
    <tbody>
        {% for hunt in hunts %}
            <tr><td>
                <a href="{{ path_for('hunts-view', { id: hunt.id }) }}">{{ hunt.name }}</a> ({{ hunt.getStatusName() }})</br>
                <small>di <a href="{{ path_for('profile', { nickname: hunt.author }) }}">{{ hunt.author }}</a></small>
            </td></tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}